$primaryBlue: #2F80ED;
$primaryDarkGrey: #4F4F4F;
$primaryGrey: #828282;
$primaryLtGrey: #E0E0E0;

$indicatorOrange: #F8B76B;
$indicatorPurple: #8785FF;
$indicatorRed: #EB5757;
$indicatorYellow: #F2C94C;

$chatYellow: #E5A443;
$chatLtYellow: #FCEED3;
$chatPurple: #9B51E0;
$chatLtPurple: #EEDCFF;
$chatGreen: #43B78D;
$chatLtGreen: #D2F2EA;

$sticker1: #E9F3FF;
$sticker2: #FDCFA4;
$sticker3: #F9E9C3;
$sticker4: #AFEBDB;
$sticker5: #CBF1C2;
$sticker6: #CFCEF9;
$sticker7: #F9E0FD;

$fontSizeLarge: 16px;
$fontSizeNormal: 14px;
$fontSizeSmall: 12px;

$fontWeightBold: 700;
$fontWeightNormal: 400;

$positionFloatingBtn1: 37px;
$positionFloatingBtn2: 128px;
$positionFloatingBtn3: 214px;