@import '/src//sass/variables';

.chatContainer {
    display: flex;
    flex-direction: column;
    height: inherit;
}

.chatHeader {
    display: flex;
    padding: 20px;
    gap: 12px;
    align-items: center;
    border-bottom: 1px solid $primaryLtGrey;

    .chatTitleContainer {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        p {
            margin: 0;
        }

        .title {
            font-weight: $fontWeightBold;
            font-size: $fontSizeLarge;
            color: $primaryBlue;
        }

        .participantNumber {
            font-size: $fontSizeSmall;
            color: $primaryDarkGrey;
            font-weight: $fontWeightNormal;
            margin-top: 6px;
        }
    }

    .backBtn {
        width: 24px;
        height: 24px;
        border: 0;
        background-color: transparent;
        background-image: url('../../../assets/icon/arrow_back_24px.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 16px;
    }

    .closeBtn {
        width: 24px;
        height: 24px;
        border: 0;
        background-color: transparent;
        background-image: url('../../../assets/icon/close_24px.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 14px;
    }
}

.chatBody {
    padding: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow: auto;
    flex: 2;
}

.divider {
    .timeline {
        color: $primaryDarkGrey;
        font-size: 16px;
        font-weight: 700;
        overflow: hidden;
        text-align: center;

        &::before,
        &::after {
            background-color: $primaryDarkGrey;
            content: "";
            display: inline-block;
            height: 1px;
            position: relative;
            vertical-align: middle;
            width: 50%;
        }

        &::before {
            right: 0.5em;
            margin-left: -50%;
        }

        &::after {
            left: 0.5em;
            margin-right: -50%;
        }
    }

    .newMessage {
        color: $indicatorRed;
        font-size: 16px;
        font-weight: 700;
        overflow: hidden;
        text-align: center;

        &::before,
        &::after {
            background-color: $indicatorRed;
            content: "";
            display: inline-block;
            height: 1px;
            position: relative;
            vertical-align: middle;
            width: 50%;
        }

        &::before {
            right: 0.5em;
            margin-left: -50%;
        }

        &::after {
            left: 0.5em;
            margin-right: -50%;
        }
    }
}


.chatFooter {
    padding: 20px;
    padding-top: 0;
    display: flex;
    gap: 12px;


    .chatInputContainer {
        position: relative;
        flex-grow: 1;

        .reply {
            z-index: 3;
            background-color: $primaryLtGrey;
            bottom: 100%;
            left: 0;
            right: 0;
            padding: 10px;
            position: absolute;
            border: 1px solid $primaryGrey;
            border-radius: 5px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;

            .closeReply {
                position: absolute;
                right: 20px;
                top: 15px;
                width: 12px;
                height: 12px;
                background-color: transparent;
                background-image: url('../../../assets/icon/close_24px.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: 12px;
            }

            .title {
                font-size: $fontSizeNormal;
                font-weight: $fontWeightBold;
                color: $primaryDarkGrey;
                margin: 0;
            }

            .text {
                font-size: $fontSizeNormal;
                font-weight: $fontWeightNormal;
                color: $primaryDarkGrey;
                margin: 0;
                margin-top: 7px;
            }

            &.hide {
                display: none;
            }
        }

        .chatInput {
            width: -webkit-fill-available;
            padding: 12px;
            border: 1px solid $primaryGrey;
            border-radius: 5px;

            &.noBorderTop {
                border-top: 0px;
                border-top-right-radius: 0px;
                border-top-left-radius: 0px;
            }
        }
    }

}

.sendBtn {
    background-color: $primaryBlue;
    color: #FFFFFF;
    font-weight: $fontWeightBold;
    font-size: $fontSizeNormal;
    padding: 8px 16px;
    border: 0;
    border-radius: 5px;
}